html, body {
    margin: 0px;
}


.poster {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform .5s ease-out;
}

.posterVideo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#posterVideoOne {
    display: none;
}

#indexPoster {
    display: block;
}

#posterImgOne {
    display: none;
}

.posterWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exampleButton {
    position: relative;
}